.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    padding-top: 2rem;
   
}

.row-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}